@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(31 41 55 / var(--tw-bg-opacity));
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(55 65 81 / var(--tw-bg-opacity));
  border-radius:15px;
}

.scroll-light::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-light::-webkit-scrollbar-track {
  background: rgb(204 204 204 / var(--tw-bg-opacity));
  border-radius:15px;
}

.scroll-light::-webkit-scrollbar-thumb {
  background: rgb(153 153 153 / var(--tw-bg-opacity));
  border-radius:15px;
}


